/* .filter{
    width: 100%;
    height: 1080px;
    background: #000;
} */

.S-customer_service-bg {
    z-index: 0;
    /* padding: 0 -50px; */
    /* margin: 0 -200px; */
    height: 1080px;
    width: 100%;
    background: url(../imgs/living-room-1835923_1920.jpg)center center /cover no-repeat;
    /* background-color: black; */
    /* filter: brightness(.5); */
}

.S-wrap {
    margin-top: 100px;
    width: 100%;
    height: 1080px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.S-info {
    z-index: 1;
    color: #fff;
    width: 602px;
    height: 980px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 38px;
}

.S-q {
    color: #fff;
    display: flex;
    padding: 60px 0;
}

.S-q img {
    margin-right: 20px;
}

.S-q1 img {
    margin-right: 40px;
}

.S-q-word h3,
.S-q-word p {
    color: #fff;
    padding: 3px 0 0;
}

.S-list {
    padding: 40px 70px;
    width: 590px;
    height: 816px;
    background: #F1EDEA;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.S-list-title {
    /* padding: 30px 0 15px; */
    margin-bottom: 15px;
    height: 5%;
    display: flex;
    justify-content: center;
}

.S-list img {
    width: 30px;
    margin-right: 10px;
}
.CustomerService-x img{
    width: 50px;
    height: 50px;
    margin: 0;
}
.input_option {
    padding: 15px 0;
}

.dropdown_container {
    padding: 15px 0;
}

.input_option.S-big input {
    width: 100%;
    height: 300px;
    /* line-height: 2rem; */
}

.input_option.S-big textarea {
    width: 100%;
    outline: none;
    /* border: #75BBE3 1px solid; */
    font-size: 16px;
    /* line-height: 2rem; */
}

textarea[type=text] {
    margin: 0;
    padding: 0;
    height: 100px;
    border: none;
    outline: none;
    font-size: 16px;
}

.fullinput_container textarea[placeholder],
.input_container textarea[placeholder] {
    font-size: 16px;
    padding: 20px;
}

.alert {
    text-align: left;
}

.z_upload_item_img_btn button {
    background: transparent;
}

.z_upload_item_img_btn img {
    width: 16px;
}

.z_upload_item_img_btn>button {
    font-size: 16px;
    font-weight: bold;
    color: #75BBE3;
}

.S-btn {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.pc-button-F4F4F4-272 {
    margin-right: 15px;
}

button.pc-button-FEAC00-272 {
    font-size: 16px;
    margin-left: 15px;
    width: 162.5px;
}


/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

@media screen and (max-width:376px) {
    
 


    .S-customer_service-bg {
        position: relative;
        top: 0px;
        height: 800px;
        width: 100%;
        background: #F4F4F4;
        background: url(../imgs/living-room-1835923_1920.jpg)center center /cover no-repeat;
    }
    .S-wrap {
        margin-top: 0px;
        flex-direction: column;
    }
    .S-info {
        width: 100%;
        margin-top: 550px;
        /* background: url(../imgs/living-room-1835923_1920.jpg)center center /cover no-repeat; */
        padding: 70px 40px;
    }
    .S-q {
        flex-direction: column;
        align-items: center;
        padding: 30px 0;
    }
    .S-q img {
        width: 50px;
        margin: 0;
    }
    .S-q1 img {
        margin: 0;
    }
    .S-q-word {
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        text-align: center;
        margin-top: 10px;
    }
    .S-q-word h3 {
        font-size: 20px;
    }
    .S-q-word p {
        font-size: 16px;
    }
    .S-list {
        margin-top: 40px;
        padding: 40px 20px;
        width: 100%;
        height: 816px;
        background: #F4F4F4;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .S-list-title {
        font-size: 24px;
        /* padding: 30px 0 15px; */
        margin-bottom: 15px;
        height: 5%;
        display: flex;
        justify-content: center;
    }
    .input_option.S-big input {
        font-size: 12px;
    }
    .S-list img {
        width: 30px;
        margin-right: 10px;
    }
    .mobile-button-F4F4F4-162 {
        margin-right: 5px;
        font-size: 20px;
    }
    .S-list.button.pc-button-FEAC00-272 {
        /* margin: 0; */
        /* height: 60px; */
        border: 5px solid purple;
    }
    .button.pc-button-FEAC00-272.h60 {
        height: 60px;
        border: 5px solid purple;
    }
    .input_option {
        padding: 15px 0;
    }
    .dropdown_container {
        padding: 15px 0;
    }
    .input_option.S-big input {
        width: 100%;
        height: 300px;
        /* line-height: 2rem; */
    }
    /* .input_option.S-big input::placeholder{
        transform: translateX(-.5rem);
        white-space: normal;
    } */
    .z_upload_item_img_btn {
        text-align: right;
    }
    .z_upload_item_img_btn button {
        background: transparent;
    }
    .z_upload_item_img_btn img {
        width: 16px;
    }
    .z_upload_item_img_btn>button {
        font-size: 16px;
        font-weight: bold;
        color: #75BBE3;
    }
    .S-btn {
        margin-top: 10px;
        display: flex;
    }
    .footer_container {
        margin-top: 860px;
    }
}