.c-world {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    padding-top: 180px;
}


/* 左邊選單開始 */

.c-mylist {
    text-align: center;
}

.c-list {
    text-decoration: none;
    list-style: none;
    margin-bottom: 30px;
}

.c-list a {
    text-decoration: none;
    opacity: 0.5;
    color: #0E2E3D;
}

.c-list a:hover {
    text-decoration: none;
    opacity: 1;
}


/* 右邊標題開始 */

.x-personal-data-all {
    max-width: 1053px;
    width: 100%;
    margin-left: 80px;
}

.x-title-txt {
    margin-bottom: 30px;
}

.x-title-content-all {
    width: 100%;
    max-width: 525px;
    display: flex;
    flex-direction: column;
    margin-left: 18%;
}

.x-title-content-all button {
    margin: auto;
}

.x-title-content input {
    margin-bottom: 0px;
    width: 100%;
}

.x-title-content-all .x-title-content:nth-child(4) input {
    height: 300px;
}

.x-title-content p {
    line-height: 30px;
    color: red;
}

.x-title-content input[placeholder] {
    opacity: .5;
}

.x-title-content-all-button-two {
    margin: auto;
    display: flex;
}

.x-title-content-all-button-two button {
    margin-right: 30px;
}

.footer_container {
    margin-top: 80px;
}

@media screen and (max-width:376px) {
    .c-mylist {
        display: none;
    }
    .x-personal-data-all {
        margin-left: 0px;
    }
    .x-title-txt {
        text-align: center;
        margin-bottom: 20px;
    }
    .c-world {
        height: auto;
        min-height: auto;
        padding-top: 90px;
    }
    .pc-button-FEAC00-180 {
        margin-top: 20px;
        width: 335px;
        height: 60px;
        color: #0E2E3D;
        font-weight: bold;
        font-size: 20px;
        border: none;
        background-color: #FEAC00;
    }
    .x-title-content-all-button-two {
        display: flex;
        justify-content: space-between;
    }
    .x-title-content-all-button-two .pc-button-F4F4F4-180 {
        width: 162.5px;
        height: 45px;
        color: #0E2E3D;
        font-weight: bold;
        font-size: 20px;
        border: none;
        background-color: #F1EDEA;
    }
    .x-title-content-all-button-two .pc-button-FEAC00-180 {
        width: 162.5px;
        height: 45px;
        color: #0E2E3D;
        font-weight: bold;
        font-size: 20px;
        border: none;
        background-color: #FEAC00;
    }
    .x-title-content-all {
        margin-left: 0%;
    }
    .x-title-content-all-button-two {
        margin: 0;
        justify-content: space-between;
    }
    .x-title-content-all-button-two button {
        margin: 0;
    }
    .footer_container {
        margin-top: 40px;
    }
}