* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Noto Sans TC', sans-serif;
}

body {
    background-color: #F4F4F4;
}

h1,
h2,
h3,
p {
    margin: 0;
}

.bold {
    font-weight: bold;
}

h1 {
    font-weight: bold;
    font-size: 48px;
}

h2 {
    font-weight: bold;
    font-size: 32px;
}

h3 {
    font-weight: blod;
    font-size: 24px;
}

p {
    font-size: 16px;
}

.small {
    font-size: 12px;
}

.slogan {
    font-size: 128px;
}

.time {
    font-size: 48px;
}

.alert {
    line-height: 30px;
    color: red;
}


/* 以上文字 */


/* 公版container */

.container {
    width: 100%;
    max-width: 1280px;
    padding: 0 25px;
    margin: auto;
}


/* nav */

.container ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

.container ul div {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.container ul li img {
    width: 100px;
    height: 80px;
}

.container a {
    text-decoration: none;
    font-weight: bold;
    color: #0E2E3D;
    letter-spacing: 2px;
}

.nav {
    width: 100%;
    background-color: #F1EDEA;
    height: 100px;
}

.log-out {
    /* display: none; */
}

.log-in {
    display: none;
}

.x-log-show {
    display: none;
}


/* nav手機 */

@media screen and (max-width:376px) {
    .container {
        width: 375px;
        margin: auto;
        padding: 0 20px;
    }
    .x-log-show {
        display: block;
    }
    .x-log {
        display: none;
    }
}