 * {
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
     font-family: 'Josefin Sans', sans-serif;
     font-family: 'Noto Sans TC', sans-serif;
 }
 
 body {
     background-color: #F4F4F4;
 }
 
 h1,
 h2,
 h3,
 p {
     margin: 0;
 }
 
 .bold {
     font-weight: bold;
 }
 
 h1 {
     font-weight: bold;
     font-size: 48px;
 }
 
 h2 {
     font-weight: bold;
     font-size: 32px;
 }
 
 h3 {
     font-weight: blod;
     font-size: 24px;
 }
 
 p {
     font-size: 16px;
 }
 
 .small {
     font-size: 12px;
 }
 
 .slogan {
     font-size: 128px;
 }
 
 .time {
     font-size: 48px;
 }
 
 .alert {
     line-height: 30px;
     color: red;
 }
 /* 以上文字 */
 /* 公版寬 */
 
 .container {
     width: 100%;
     max-width: 1280px;
     padding: 0 25px;
     margin: auto;
 }
 /* nav */
 
 .nav .container ul {
     width: 100%;
     display: flex;
     list-style: none;
     align-items: center;
     justify-content: space-between;
     height: 100px;
 }
 
 .pc-link {
     display: flex;
     width: 100%;
     justify-content: space-between;
 }
 
 .nav .container ul .phone-nav-link {
     display: flex;
     width: 100%;
     justify-content: space-between;
     align-items: center;
 }
 
 .x-log-img {
     width: 100%;
     display: flex;
     justify-content: center;
 }
 
 .nav .x-log-img a:nth-child(1) img {
     width: 100px;
     height: 80px;
 }
 
 .nav .container a {
     text-decoration: none;
     font-weight: bold;
     color: #0E2E3D;
     letter-spacing: 2px;
     position: relative;
 }
 
 .nav {
     width: 100%;
     background-color: #F1EDEA;
     height: 100px;
 }
 
 .nav .container {
     display: flex;
     align-items: center;
 }
 
 .log-out {
     /* display: none; */
 }
 
 .log-in {
     display: none;
 }
 
 .x-log-show {
     display: none;
 }
 
 .nav ul div a:before {
     content: '';
     width: 150%;
     height: 100px;
     position: absolute;
     top: -40px;
     left: -25%;
 }
 
 .nav ul div a:after {
     content: '';
     position: absolute;
     background-color: #FEAC00;
     border-radius: 25%;
     height: 3px;
     width: 0%;
     left: -25%;
     bottom: -10px;
     transition: .3s;
 }
 
 .nav ul div a:hover:after {
     width: 150%;
 }
 
 .x-log-img a:nth-child(2) {
     display: none;
 }
 
 .nav .container ul .x-log-show {
     display: none;
 }
 
 .x-log-phone-title {
     display: none;
 }
 
 .x-phone {
     display: none;
 }
 
 .nav .container ul .phone-nav-link li:nth-child(5) img {
     display: none;
 }
 
 .x-hidden-personaal {
     display: none;
 }
 /* nav手機 */
 
 @media screen and (max-width:376px) {
     .nav ul div a:before {
         content: '';
         width: 150%;
         height: 40px;
         position: absolute;
         top: -8px;
         left: -25%;
     }
     .nav .container ul {
         justify-content: space-between;
         height: 70px;
     }
     .nav {
         width: 100%;
         background-color: #F1EDEA;
         height: 70px;
     }
     .x-log-phone-title {
         z-index: 2;
         text-align: center;
         width: 150%;
         display: block;
     }
     .x-log-img {
         justify-content: flex-start;
         width: 60px;
         z-index: 2;
     }
     .x-log-img a:nth-child(2) {
         display: block;
         width: 36px;
         height: 51px;
     }
     .x-log-img a:nth-child(2) img {
         width: 100%;
         height: 100%;
     }
     .x-log-img a:nth-child(1) {
         display: none;
     }
     .container {
         width: 375px;
         margin: auto;
         padding: 0 20px;
     }
     .nav .container .x-log-show {
         display: block;
     }
     .nav .container ul .phone-nav-link {
         display: none;
         width: auto;
     }
     .nav .container .x-log-show .x-log-show-navbar {
         position: relative;
         height: 30px;
         width: 30px;
         display: flex;
         justify-content: flex-end;
         align-items: center;
         transform: scale(75%);
     }
     .nav .container .x-log-show .x-log-show-navbar span {
         position: absolute;
         width: 30px;
         height: 3px;
         background: black;
         border-radius: 6px;
         transition: .15s;
     }
     .x-log-show span:nth-child(1) {
         transform: translateY(-12px);
         /* margin-bottom: -10px; */
     }
     .x-log-show span:nth-child(2) {
         transform: translateY(12px);
         /* margin-bottom: 10px; */
     }
     .x-log-show.close span:nth-child(1) {
         transform: rotate(45deg);
     }
     .x-log-show.close span:nth-child(2) {
         transform: rotate(-45deg);
     }
     .x-log-show.close span:nth-child(3) {
         opacity: 0;
         transform: translateY(-30px);
         transform: rotate(45deg);
     }
     .x-phone {
         display: block;
     }
     .nav .container ul .phone-nav-link {
         list-style-type: none;
         display: flex;
         align-items: center;
         justify-content: flex-start;
         padding: 80px 100px;
         height: 100%;
         max-height: 667px;
         width: 100%;
         position: fixed;
         margin-left: -20px;
         top: 0;
         flex-direction: column;
         /* display: none; */
         transform: translateX(500px);
         transition: .5s;
         background-color: #ffffff;
     }
     .nav .container ul .phone-nav-link.open {
         transform: translateX(0px);
     }
     .nav .container ul .phone-nav-link {
         background-color: #F1EDEA;
     }
     .nav .container ul .phone-nav-link li {
         margin: 15px 0;
     }
     .nav .container ul .phone-nav-link li:nth-child(5) img {
         display: block;
         width: 24px;
         height: 24px;
     }
     .nav .container ul .phone-nav-link li:nth-child(5) a {
         display: flex;
         justify-content: center;
         align-items: center;
         margin-left: 24px;
         /* margin-bottom: 10px; */
     }
     .x-hidden-personaal {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         width: 375px;
         background-color: #F4F4F4;
         padding: 15px 0px 10px 0;
     }
     .x-hidden-personaal a {
         margin: 4.25px 0;
     }
     .pc-link {
         display: none;
     }
     .x-hidden-personaal.x-hidden-click {
         display: none;
     }
     .nav ul div a:after {
         content: none;
     }
 }
 /* 結尾 */
 
 .footer {
     width: 100%;
     max-width: 1920px;
     background-color: #F1EDEA;
     margin: auto;
 }
 
 .footer-up {
     width: 100%;
     height: 500px;
     display: flex;
     align-items: center;
     background-color: #F1EDEA;
     justify-content: space-between;
 }
 
 .footer-left {
     width: 390px;
     height: 260px;
     justify-content: space-between;
     display: flex;
     flex-direction: column;
 }
 
 .footer-right img {
     width: 80%;
     height: 80%;
 }
 
 .footer-down {
     width: 100%;
     height: 80px;
     background-color: #F4F4F4;
     display: flex;
     align-items: center;
     justify-content: space-between;
 }
 
 .footer-down .container {
     display: flex;
     align-items: center;
     justify-content: space-between;
 }
 
 .footer-down div img {
     width: 30px;
     height: 28px;
 }
 
 .copyright {
     margin-right: 250px;
 }
 
 .tw {
     justify-content: flex-end;
 }
 
 .footer_icon {
     display: flex;
     justify-content: flex-start;
 }
 
 */ .copyright {
     margin-right: 5%;
 }
 
 .tw {
     justify-content: flex-end;
 }
 
 .footer_icon {
     display: flex;
     justify-content: flex-start;
 }
 
 .footer_phone_icon {
     display: none;
 }
 
 .footer_phone_icon img {
     width: 30px;
     height: 28px;
 }
 
 .footer_phone_icon {
     display: none;
 }
 
 .footer_phone_icon img {
     width: 30px;
     height: 28px;
 }
 
 .footer-down div:nth-child(1) img {
     margin-right: 12px;
 }
 
 .footer-left-up p {
     margin-bottom: 30px;
 }
 
 .footer-left-down a {
     text-decoration: none;
     color: #0E2E3D;
 }
 
 .footer-left-down a:nth-child(1),
 .footer-left-down a:nth-child(2) {
     margin-right: 30px;
 }
 
 .footer_icon>p {
     margin-right: 25px;
 }
 
 @media screen and (max-width:376px) {
     /* 結尾 */
     .footer-up {
         justify-content: center;
         height: auto;
     }
     .footer-left {
         margin-top: 50px;
         width: 260px;
         height: auto;
         justify-content: flex-start;
         margin-bottom: 60px;
     }
     .footer-right {
         display: none;
     }
     .footer-left-up p {
         margin-bottom: 20px;
     }
     .footer-left-down a:nth-child(1),
     .footer-left-down a:nth-child(2) {
         margin-right: 15px;
     }
     .footer_icon {
         display: none;
     }
     .tw {
         display: none;
     }
     .footer_phone_icon {
         display: flex;
         justify-content: space-between;
         width: 100%;
         margin-bottom: 30px;
     }
     .footer-down {
         display: none;
     }
     .phone_copyright {
         display: block;
         width: 85%;
         height: 30px;
         margin: auto;
         display: flex;
         align-items: center;
         justify-content: center;
     }
     .phone_copyright p {
         text-align: center;
         width: 100%;
         font-size: 12px;
     }
 }