.n-world {
    display: flex;
    outline: 1px solid rgb(191, 213, 24);
    width: 100%;
    height: 100%;
    
    justify-content: space-between;
    margin-top: 139px;
    margin-bottom: 80px;
}

/* 左邊選單開始 */
.n-mylist {
    outline: 1px solid rgb(0, 255, 149); 
    text-align: center;
    width: 97px;
    
}

.n-listword {
    font-size: 24px;
    text-decoration: none;
    list-style: none;
    outline: 1px solid rgb(0, 174, 255);
    margin-bottom: 24px;
}

.n-listword a {
    text-decoration: none;
    color: rgba(14, 46, 61, 0.527);
}
/* 左邊選單結束 */


/* 右邊標題開始 */
.n-mytitle {
    outline: 1px solid rgb(47, 0, 255); 
    width: 1053px;
    position: relative;
    
}

.n-title {
    outline: 1px solid rgb(99, 36, 201);
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    height: 30px;
    align-items: center;
    width: 100%;
    
}

.n-titletitle {
    display: flex;
    outline: 1px solid rgb(135, 36, 201);
    height: 30px;
    width: 90px ;
    justify-content: space-between
}

.n-push {
    outline: 1px solid rgb(191, 196, 130);
    display: flex;
    align-items: center;
    
}

.n-push a{
    display: flex;
    align-items: center;
}

/* 右邊標題結束 */

.square{
    width: 100%;
    /* outline: 1px solid rgb(92, 5, 70); */
    /* height: 382px; */
    /* margin-top: 2%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
    flex-wrap: wrap;
    /* background-color: aqua; */
    
   

}

.squareA{
    height: 317px;
    width: 331px;
    outline: 1px solid rgb(59, 140, 172);
    background-color: rgba(241, 237, 234, 1);
    position: relative;
    margin-top: 30px;

}

.squarepicture{
    width: 331px;
    height: 245px;
    overflow: hidden;
    outline: 1px solid rgb(59, 140, 172);
}

.pture{
    object-fit: cover;
}

.oneline{
    display: flex;
    margin-left: 6%;
    margin-top: 4%;
    
}

.oneone{
    margin-left: 5%;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.twoline{
    display: flex;
    margin-left: 6%;
    margin-top: 3%;
    justify-content: space-between
}

.twotwo{
    margin-right: 5%;
}

.xx{
    position: absolute;
    background-color: aliceblue;
    border-radius: 50%;
    top: 6%;
    right: 7%;
    width: 50px;
    height: 50px;
    font-size: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.xx svg{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* @media screen and (max-width:376px) {
    
    .container {
        width: 375px;
        margin: auto;
        padding: 0 20px;
    }
    .nav-log-out,
    .nav-log-in {
        width: 100%;
        max-width: 375px;
        height: 70px;
    }
    .nav-log-out a img,
    .nav-log-in a img {
        height: 70px;
    }
    .container {
        width: 100%;
        padding: 0 20px;
    }
    .pc_nav_left,
    .pc_nav_right,
    .pc_nav_center {
        display: none;
    }
    .phone_nav_left {
        display: block;
    }
    .phone_nav_center {
        width: 100px;
        display: block;
    }
    .phone_nav_right {
        display: block;
    }
    .nav-log-out .container .row,
    .nav-log-in .container .row {
        height: 70px;
        justify-content: space-between;
    }
    .footer-up {
        justify-content: center;
        height: auto;
    }
    .footer-left {
        margin-top: 50px;
        width: 260px;
        height: auto;
        justify-content: flex-start;
        margin-bottom: 60px;
    }
    .footer-right {
        display: none;
    }
    .footer-left-up p {
        margin-bottom: 20px;
    }
    .footer-left-down a:nth-child(1),
    .footer-left-down a:nth-child(2) {
        margin-right: 15px;
    }
    .footer_icon {
        display: none;
    }
    .tw {
        display: none;
    }
    .footer_phone_icon {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 30px;
    }
    .footer-down {
        display: none;
    }
    .phone_copyright {
        display: block;
        width: 85%;
        height: 30px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .phone_copyright p {
        text-align: center;
        width: 100%;
        font-size: 12px;
    }
    

    .n-mylist,.n-titletitle{
        display: none;
    }



    .n-title{
        justify-content: center;
    }

    .n-mytitle {
        width: 100%;
    }
} */