body{
    background: #F4F4F4;
}

.n-world {
    display: flex;
    /* outline: 1px solid red; */
    width: 100%;
    height: 100%;
    min-height: 720px;
    justify-content: space-between;
    margin-top: 139px;
    margin-bottom: 80px;
    
}

/* 左邊選單開始 */
.n-mylist {
    /* outline: 1px solid rgb(0, 255, 149);  */
    text-align: center;
    width: 97px;
    
}

.n-listword {
    font-size: 24px;
    text-decoration: none;
    list-style: none;
    /* outline: 1px solid rgb(0, 174, 255); */
    margin-bottom: 24px;
    width: 100%;
    
}

.n-listword a {
    text-decoration: none;
    color: rgba(14, 46, 61, 0.527);
    font-size: 24px;
}
/* 左邊選單結束 */


/* 右邊標題開始 */
.n-mytitle {
    /* outline: 1px solid rgb(47, 0, 255);  */
    width: 1053px;
    position: relative;
    min-height: 720px;
    
    
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
}

.n-title {
    /* outline: 1px solid rgb(99, 36, 201); */
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    height: 30px;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
    
}


/* 右邊標題結束 */

.n-in{
    /* outline: 1px solid rgb(55, 197, 91);  */
    width: 100%;
    height: 692px;
    
    
}

.as{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.n-inp{
    width: 525px;
    height: 60px;
    /* outline: 1px solid rgb(197, 183, 55); */
    list-style: none;
    border: none;
}

/* 跳錯誤 */
.n-Oh{
    width: 525px;
    height: 30px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: rgba(255, 0, 0, 1);
    /* outline: 1px solid rgb(197, 183, 55); */
}
/* 跳錯誤 */
.n-inp.s{
    height: 300px;
}

.n-inb{
    width: 180px;
    height: 60px;
    /* outline: 1px solid rgb(197, 183, 55); */
    list-style: none;
    cursor: pointer;
    background: rgba(254, 172, 0, 1);
    font-size: 24px;
    border: none;

}

.n-m{
    /* outline: 1px solid rgb(230, 13, 13); */
    width: 390px;
    height: 60px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    
}

.twobutton{
    /* outline: 1px solid rgb(230, 13, 13); */
    width: 390px;
    height: 60px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.n-inb.su{
    background: #F1EDEA;
}