.world{
    display: flex;
    margin-top: 180px;
    margin-bottom:80px;
    margin-right:345px ;
    outline: 1px solid rgb(134, 63, 31); 
    margin-left: 300px;
    width: 1230px;
}


/* 左邊選單開始 */
.mylist{
    outline: 1px solid rgb(156, 32, 109); 
    width: 97px;
    text-align: center;
    margin-right: 80px;
}



li{
    list-style: none;
}


.listword{
    margin-bottom: 24px;
    font-size: 24px;
    text-decoration: none;
}

.listword a{
    text-decoration: none;
    color: rgba(14, 46, 61, 0.527);
}
/* 左邊選單結束 */


/* 右邊標題開始 */
.mytitle{
    /* outline: 1px solid red;  */
    width: 1053px;
    position: relative;
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
}

.title{
    /* outline: 1px solid red; */
    font-size: 24px;
    display: flex;
    justify-content: space-between;

}

.titletitle{
    display: flex;
    margin-right: 0%;
}


.push{
    margin-right: 30px;
} 
/* 右邊標題結束 */


.card{
    /* outline: 1px solid rgb(45, 138, 84); */
    width: 1053px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 250px;
    background-color: rgba(241, 237, 234, 1);
}

/* 輪播牆開始 */
.carousel{
    min-height: 250px;
    width:321px;
    outline: 1px solid rgb(187, 255, 0);
    background-image: url('../imgs/arkan-perdana-eKTLh4_u7Ao-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    
}
/* 輪播牆結束 */


/* 租屋資訊開始 */
.character{
    width: 50%;
    /* height: 166px; */
    /* outline: 1px solid red; */
    /* margin-left: 30px; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* margin-top: 42px; */

}

.text{
    
    margin-bottom: 15px;
    display: flex;
    /* outline: 1px solid red; */
   
}

.texti{
    display: flex;
    justify-content: center;
    align-items: center;

}

.textii{
    margin-right: 5px;
}

.text.title.a{
    /* margin-bottom: 5%; */
    margin-top: 0px;

}

.text.title.aa{
    display: none;
}

.texttext{
    display: flex;
}



.texttexttext{
    margin-left: 34px;
    /* outline: 1px solid red; */
}




.left{
    display: flex;
    flex-direction:column-reverse;
    justify-content:space-between;
    align-items: flex-end;
    margin-right: 30px;
}
.x{
    padding-top: 13px;
}

.leftleftB{
    width: 139px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* outline: 1px solid red; */
    margin-bottom:6px;
    text-align: center;
    font-size: 16px;
    
}



.iconicon{
    margin-left: 10px;
}

.leftleft.a{
    /* outline: 1px solid red; */
    font-size: 24px;
    width: 117px;
    height: 30px;
    text-align: center;
    margin-bottom: 33px;
   
}


.x a{
    list-style: none;
}














@media screen and (max-width:428px){
    

    .nav-log-out{
        display: none;
    }

    .footer{
        display: none;
    }

    .world{
        /* display: flex; */
        /* margin-top: 180px; */
        /* margin-bottom:80px; */
        /* margin-right:345px ; */
        outline: 1px solid rgb(134, 63, 31); 
        /* margin-left: 300px; */
        width: 335px;
        margin: 150px auto 40px;
        /* margin:上/左右/下; */
    }
    
    
    
    .mylist{
        display: none;
    }
    
    
    /* 右邊標題開始 */
    .mytitle{
        outline: 1px solid rgb(55, 38, 128); 
        width: 100%;
        position: relative;
        /* display: flex; */
        /* flex-direction: column;  */
        flex-wrap: wrap;
    }
    
    .title{
        outline: 1px solid red;
        font-size: 24px;
        /* display: flex; */
        justify-content: center;
        width: 100%;
        
    
    }
    
    .titletitle{
        display: none;
    }
    
    /* 右邊標題結束 */
    
    
    .card{
        outline: 1px solid rgb(45, 138, 84);
        width: 335px;
        /* margin-top: 30px; */
        display: flex;
        height:314px;
        background-color: rgba(241, 237, 234, 1);
        position: relative;
    }
    
    /* 輪播牆開始 */
    .carousel{
        height: 241px;
        width: 100%;
        outline: 1px solid rgb(187, 255, 0);
        /* background-image: url('./imgs/test.png');
        background-repeat: no-repeat;
        background-size: cover; */
        overflow: hidden;
        /* position: absolute; */
        /* display: none; */
        
    }

    .carousel img{
        height: 100%;
        width:100%;
    }
    /* 輪播牆結束 */
    
    
    /* 租屋資訊開始 */
    .character{
        height: 166px;
        outline: 1px solid rgb(63, 169, 137);
        /* margin-left: 30px; */
        /* display: flex; */
        /* align-items: center; */
        /* margin-right: 195px; */
        /* flex-direction: column;
        align-items: flex-start; */
        /* margin-top: 241px; */
        position: absolute;
        left: 0;
        right: 0;
    
    }
    
    .text{
        
        /* margin-bottom: 15px; */
        /* outline: 1px solid red; */
       
    }
    
    .texti{
        display: none;
    
    }
    
    
    .text.title.a{
        /* margin-bottom: 5%; */
        display: none;
    
    }

    .text.title.aa{
        /* margin-top: 0px; */
        font-size: 16px;
        width: 228px;
        height: 24px;
    }
    
    .texttext{
        display: none;
    }
    
    
    .texttexttext{
        margin-left: 34px;
        /* outline: 1px solid red; */
    }
    
    
    .left{
        
       
        position: absolute;
        /* margin-right: 20px; */
        /* margin: 0; */
        outline: 1px solid rgb(210, 46, 128);
        /* top: 276px;
        left: 235px; */
        /* margin-bottom: 5px;
        margin-right: 16.5px; */
        width: 100%;
        height: 100%;
        /* background-color: blue; */
        
    }
    
    
    .leftleftB{
        display: none;;
        
    }
    
    
    .leftleft.a{
        outline: 1px solid red;
        font-size: 24px;
        width: 107px;
        height: 30px;
        /* text-align: center; */
        margin-bottom: 5px;
        margin-right: 16.5px;
        background-color: aquamarine;
        /* position: absolute; */

       
    }
    
    .x{
        position: absolute;
        top: 0px;
        /* right: 0px; */
        outline: 1px solid red;
        /* margin-top: 13px; */

        
    }
    
    .x a{
        list-style: none;
    }

    

}