.c-world {
    display: flex;
    width: 100%;
    min-height: 911px;
    justify-content: space-between;
    margin-top: 190px;
    margin-bottom: 60px;
    
}

/* ---------左邊選單開始--------- */
.c-mylist {
    text-align: center;
}

.c-list {
    text-decoration: none;
    list-style: none;
    margin-bottom: 30px;
}

.c-list a {
    text-decoration: none;
    opacity: 0.5;
}

.c-list a:hover {
    text-decoration: none;
    opacity: 1;
}

@media screen and (max-width:376px){
    .c-mylist{
        display: none;
    }
    
}



/*----------- 左邊選單結束-------------- */


/* --------右邊標題開始---------------- */
.c-mytitle {
    max-width: 1053px;
    width: 100%;
    
}

@media screen and (max-width:376px){
    .c-mytitle {
        max-width: 376px;
        text-align: center;
    }
    .c-mytitle h3 {
        margin-top: -110px;
        font-size: 20px; 
    }
    .c-table{
        display: none;
    }
}



/* --------------------我的租屋------------ */
.c-table {
    max-width: 1053px;
    width: 100%;
}

.content-table {
    border-collapse: collapse;
    margin: 30px 0;
    width: 100%;
    max-width: 1053px;
    overflow: hidden;
    text-align: center;
}

.content-table thead tr {
    background-color: #FEAC00;
}

.content-table th,
.content-table td {
    padding: 25px 25px;
}

.content-table tbody tr {
    /* border-bottom: 1px solid #dddddd; */
}

.content-table tbody tr a{
    text-decoration: none;
    
}
.check{
    color: #5D8DC1;
}

.content-table tbody tr:nth-of-type(odd) {
    background-color: #F1EDEA;
}

.content-table tbody tr:last-of-type {
    /* border-bottom: 2px solid #009879; */
}

.content-table tbody tr.active-row {
    /* font-weight: bold; */
}


/* 右邊標題結束 */

/* --------------------pages--------------- */
.c-pages {
    text-align: center;
}

ul.pagination {
    display: inline-block;
}

ul.pagination li {
    display: inline;
}
ul.pagination li a {
    color: black;
    float: left;
    padding: 10px 20px;
    text-decoration: none;
    opacity: 0.5;
}

ul.pagination li a:hover{
    opacity: 1;
}

/* --------------------pages---------------- */

@media screen and (max-width:376px){
    .c-pages{
        display: none;
    }
}


/* -----------------------手機板的下拉------- */

.flip {
    margin: 0px;
    padding: 10px;
    text-align: left;
    background: #F1EDEA;
    cursor: pointer;
    text-align: left;
}

.panel {
    margin: 0px;
    padding: 15px;
    text-align: center;
    background: #F1EDEA;
    border: solid 1px #000000;
    display: none;
    font-family: 'Arial';
}

.flip{
    display: none;
    /* border: 1px solid red; */
}
.panel{
    display: none;
}



@media screen and (max-width:376px){
    .flip{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 5px;
    }
    .panel{

        /* 一樣display none */
        /* display: flex; */
        flex-direction: column;
        text-align: left;
    }
    .panel a{
        color: #5D8DC1;
        text-decoration: none;
    }
}



/* --------------------手機板的下拉------- */
