body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    transition: .5s;
    background-color: #ccc ;
}
.container1{
    position: relative;
    width: 1080px;
    height: 764px;
    /* margin: 20px; */
    /* background-color: #fa0f; */

}
.blueBg{
    position: absolute;
    top: 0;
    width: 100%;
    height: 764px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.15);
}
.blueBg .box{
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.blueBg .box h2{
    font-size: 16px;
    color: #0E2E3D;
}
.blueBg .box button{
    padding: 10px 20px;
    font-weight: 900;
    cursor: pointer;
    font-size: 24px;
    color: #0E2E3D;
    border: transparent;
    background: transparent;
}
.formBx{
    position:absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #5D8DC1;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.25);
    transition: .5s ease-in-out;
    overflow: hidden;
}
.formBx.active{
    left: 50%;
}
body.active{
    background: #0E2E3D;
}
.formBx .form{
    position: absolute;
    left: 0;
    width: 100%;
    padding: 50px;
    transition: .5s;
}
.formBx .signinForm{
    transition-delay: 0.25s;
}
.formBx.active .signinForm{
    left: -100%;
    transition-delay: 0s;

}
.formBx .signupForm{
    left: 100%;
    transition-delay: 0s;

}
.formBx.active .signupForm{
    left: 0;
    transition-delay: 0.25s;

}


.formBx .form form{
    width: 70%;
    display: flex;
    flex-direction: column;
}
.formBx .form form h3{
    font-size: 32px;
    /* color: #0E2E3D; */
    color: #fff;
    margin-bottom: 20px;
    font-weight: 900;
}
.formBx .form form input{
    width: 100%;
    margin-bottom: 20px;
    /* padding: 10px; */
    outline: none;
    font-size: 16px;
}
.CAPTCHA-g{
    display: flex;
}
.formBx .form form input.CAPTCHA{
    width: 65%;
    margin-bottom: 20px;
    /* padding: 10px; */
    outline: none;
    font-size: 16px;
}
.formBx .form form button{
    width: 50%;
    height: 40px;
    padding: 6px;
    margin-right: -22px;
    margin-left: 10px;
    background: #FEAC00;
    border: none;
    color: #0E2E3D;
}
.formBx .form form input[type="submit"]{
    font-weight: 900;
    color: #FEAC00;
    border: none;
    max-width: 100px;
    cursor: pointer;
    margin-top: 20px;
}
.formBx.active .signupForm input[type="submit"]{
    font-weight: 900;
    color: #FEAC00;

}
.checkbox-info{
    display: flex;
    /* width: 100%; */
}
.formBx .form .checkbox-info input{
    width: 20%;
}
.formBx .form form .forgot{
    color: #0E2E3D;
}

@media screen and (max-width:376px) {
    .container1{
        max-width: 400px;
        height: 650px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container1 .blueBg{
        top: 0;
        /* height: 500px; */
        height: 100%;
    }

    .formBx{
        width: 100%;
        height: 500px;
        top: 0;
        box-shadow: none;
    }
    .blueBg .box{
        position: absolute;
        width: 100%;
        height: 150px;
        bottom: 0;
    }

    .box.signin{
        top: 0;
    }
    .formBx.active{
        left: 0;
        top: 150px;
    }




}